
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form action="../StarWars/PersonById" method="post">
    <input type="number" name="id" value="" placeholder="Get Person Id" />
    <input type="submit" name="submit" value="submit" />
</form>
<br />
<form action="../StarWars/PlanetById" method="post">
    <input type="number" name="id" value="" placeholder="Get Planet Id" />
    <input type="submit" name="submit" value="submit" />

</form>